.navbar {
    padding: 20px 0;
    width: 100%;

    font-family: 'Outfit', sans-serif;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: ease-in-out 0.3s;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bg {
    background-color: var(--main-color-orange);
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: var(--main-color-purple);
    font-size: var(--menu-font-size);

}

.navbar-menu a {
    cursor: pointer;
}

.navbar-account {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: #fff;
    font-size: var(--btn-font-size);
    color: var(--main-color-purple);
    border: 1px solid var(--main-color-orange);
    padding: 10px 30px;
    border-radius: 30px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.navbar button:hover {
    background-color: var(--main-color-tomato);
    color: #fff;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--main-color-purple);
}

.navbar-basket {
    position: relative;
}

.navbar-basket .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: var(--main-color-tomato);
    border-radius: 50%;
    top: -8px;
    right: -8px;
}

.menu-icon {
    display: none;
}

.navbar-profile {
    position: relative;

}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    left: 0;
    z-index: 1;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown li:hover {
    color: tomato;
}

.nav-profile-dropdown img {
    width: 20px;
}


/* ------media query------ */
@media(max-width:1050px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-account {
        gap: 30px;
    }

    .navbar-account img {
        width: 22px;
    }

    .navbar-account button {
        padding: 8px 25px;
    }
}

@media(max-width:900px) {
    .navbar-menu {
        display: inline-block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--main-color-tomato);
        z-index: 10;
        width: 220px;
        padding: 70px 0;
        transition: 0.5s;

    }

    .navbar-menu a {
        display: block;
        margin: 25px 40px;
    }

    .navbar-account img {
        width: 20px;
    }

    .hide-mobile-menu {
        right: -220px;
    }

    .menu-icon {
        z-index: 10;
        display: block;
        width: 20px;
        cursor: pointer;
    }

    .navbar-account {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .navbar-account button {
        padding: 6px 16px;
        ;
    }
}