.login-popup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    z-index: 100;
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: var(--color-light-grey);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title img {
    width: 22px;
    cursor: pointer;
}